/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

:root{
  /* ===== Colors ===== */
  --primary-color: #0E4BF1;
  --panel-color: #FFF;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #DDD;
  --box1-color: #4DA3FF;
  --box2-color: #FFE6AC;
  --box3-color: #E7D1FC;
  --title-icon-color: #fff;
  
  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

.btn{
  flex-direction: row;
  align-items: center;
  border-radius: 6px;
  width: calc(100% / 2 - 15px);
  padding: 2px 3px;
  background-color: transparent;
  transition: var(--tran-05);
  border-width: 0px;
}

.btn i:hover{
  cursor: pointer;
}

.button {
  display: inline;
  border: none;
  border-radius: 12px;
  color: rgb(255, 0, 0);
  padding: 2px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.result{
max-width: 80px;
}

.d-flex {
  display: flex !important;
  height: fit-content;
width: 100%;
flex-wrap: wrap;
}

.d-flex .btn{
  min-width: 100px;
  background-color: #334e6e;
  border-color: #334e6e;
  color: #ffffff;
  font-size: 16px;
  border-radius: 6px;
}

.d-flex .btn:hover{
background-color: #dddddd;
color: #334e6e;
font-family: "Poppins" , sans-serif;
font-size: 16px;
border-color: #334e6e;
}

.no {
  max-width: 5px;
}





/*8D pages */

 /* Timeline */
 *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

a {
  color: inherit;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #456990;
  color: #fff;
}

/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section h2 {
  font-size: 1.3rem;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow: hidden;
}

.timeline ol {
  font-size: 0;
  width: max-content;
  padding: 235px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 200px;
  height: 3px;
  background: #bdbdc6;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #334e6e96;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 300px;
  padding: 15px;
  font-size: 16px;
  white-space: normal;
  color: #4f4e4e;
  background: transparent;
  border: 2px #8494a7 solid;
}

.timeline ol li div::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: #8494a7 transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #8494a7;
}

.timeline time {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}

/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 99999;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .arrows i {
  display: block;
  width: 45px;
  height: 45px;
  font-size: 33px;
  color: #334e6e;
}

/* For the form */
#timelineForm{
  height: 60px;
}
#dateInput{
  height: 100%;
  padding: 20px;
}




/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto;
  }

  .timeline ol {
    padding: 0;
    transform: none !important;
  }

  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }

  .timeline ol li:first-child {
    margin-top: 25px;
  }

  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }

  .timeline ol li div {
    position: static;
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }

  .timeline ol li:nth-child(odd) div {
    transform: none;
  }

  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid rgb(255, 255, 255);
    height: 25px;
  }

  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}

/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline-table{
  background: rgba(0, 0, 0, 0.237);
}

.timeline ol li .timeline-note{
  height: auto;
}


.timeline-create {
  transform-origin: 0 0;
  transition: transform 0.25s ease;
  cursor: grab;
  position: relative;
}



.timeline-note {
  height: 100px;
  white-space: nowrap; 
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.timeline-note date {
  font-weight: bold;
  display: block;
}





#timeline-create {
  overflow: hidden; 
  white-space: normal; 
  position: relative; 
  padding: 0px; 
  background-color: #f9f9f900;
  transform-origin: 0 0; 
  transition: transform 0.25s ease; 
}

#timeline-create ol {

  padding: 50;
  margin: 50;
  list-style-type: none;
}

#timeline-create li {
  min-width: 300px;
}



@keyframes addLoadingBar {
  0%{
    width: 100%;
  }
  100%{
    width: 0;
  }
}